@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<div class="card card-solid">
    <div class="card-body pb-0">
        <table id="data-table-web-order-requests" class="table table-striped ggtools">
            <thead>
                <tr>
                    <th style="width: 1%">
                        ID
                    </th>
                    <th style="width: 20%">
                        Project Name
                    </th>


                    <th style="width: 8%" class="text-center">
                        Status
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        123
                    </td>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>
                        <br>
                        <small>
                            Created 01.01.2019
                        </small>
                    </td>


                    <td class="project-state">
                        <span class="badge badge-success">Success</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        456
                    </td>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>
                        <br>
                        <small>
                            Created 01.01.2019
                        </small>
                    </td>


                    <td class="project-state">
                        <span class="badge badge-success">Success</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        789
                    </td>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>
                        <br>
                        <small>
                            Created 01.01.2019
                        </small>
                    </td>


                    <td class="project-state">
                        <span class="badge badge-success">Success</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        900
                    </td>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>
                        <br>
                        <small>
                            Created 01.01.2019
                        </small>
                    </td>


                    <td class="project-state">
                        <span class="badge badge-success">Success</span>
                    </td>

                </tr>


            </tbody>
        </table>
    </div>

    <div class="card-footer">

    </div>

</div>
