<div class="modal fade" id="modal-note-lookup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    Note Lookup
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Note Text</label>
                            <input type="text" id="txtLookupNote" class="form-control" />
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnLookupNote" class="btn btn-default float-right">Search</button>
                    </div>
                </div>
                <div id="section-lookup-note-search-results">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSaveNote" type="button" class="btn btn-info note-selector" data-dismiss="modal">Add Selected Note</button>
            </div>
        </div>
    </div>
</div>





