<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Database" value="LOCAL"/>
    <add key="PublicWebsiteBaseUrl" value="https://training.ars-grin.gov/gringlobal"/>
    <add key="EmailAddressSupport" value="gringlobal.feedback@usda.gov"/>
    <add key="EmailAddressCC" value="benjamin.haag@usda.gov"/>
    <add key="DefaultSysUserPassword" value="GR1NGl@bal!2023"/>
    <add key="RunInTestMode" value="Y"/>
    <add key="TestModeRecipientEmailAddress" value="benjamin.haag@usda.gov"/>
  </appSettings>
  <connectionStrings>
    <!--PROD--> 
    <add name="DataManager" connectionString="Data Source=199.133.201.116;Initial Catalog=gringlobal;User Id=gg_user;Password=Savory*survive8ammonia?" providerName="System.Data.SqlClient" />
    
    <!--TRAINING-->
    <!--<add name="DataManager" connectionString="Data Source=199.133.201.116;Initial Catalog=training;User Id=gg_user;Password=Savory*survive8ammonia?" providerName="System.Data.SqlClient" />-->
    
    <!-- DEV -->
    <!--<add name="DataManager" connectionString="Data Source=199.133.201.148;Initial Catalog=gringlobal;User Id=gg_user;Password=gguPA55w0rd!!11" providerName="System.Data.SqlClient" />-->

    <!--LOCAL, PROD--><!--
    <add name="DataManager"
      connectionString="Data Source=localhost;Initial Catalog=gringlobal;User Id=gg_user;Password=Savory*survive8ammonia?;Connection Timeout=30;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;"
      providerName="System.Data.SqlClient"/>-->

    <!--LOCAL, TRAINING-->
    <!--<add name="DataManager" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=training;User Id=gg_user;Password=Savory*survive8ammonia?;Connection Timeout=30;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error/SystemError">
      <error statusCode="404" redirect="~/Error/NotFound"/>
      <error statusCode="500" redirect="~/Error/InternalServerError"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <sessionState mode="InProc" timeout="1440"></sessionState>
  </system.web>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>