@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CitationViewModelBase
<div id="section-folder-confirmation"></div>
<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Search Criteria</a></li>
            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Saved Searches</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="activity">
               @Html.Partial("~/Views/Taxonomy/Citation/_DetailSearchCriteria.cshtml")
            </div>
            <div class="tab-pane" id="timeline">
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderAction("_List", "AppUserDynamicQuery"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

