
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="card card-default">
            <div class="card-header">
                Groups
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-default">
            <div class="card-header">
                Permissions
            </div>
            <div class="card-body">

            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                Users
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
