
@{
    ViewBag.Title = "Browse Groups";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @{Html.RenderAction("_List","SysGroup");}
        @*<div class="card card-default">
            <div class="card-header">
                Groups
            </div>
            <div class="card-body">

            </div>
        </div>*@
    </div>
    <div class="col-md-9">

        <div id="section-sys-group">

        </div>

        <div class="card card-default">
            <div class="card-header">
                Permissions
            </div>
            <div id="section-sys-permission" class="card-body">

            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                Users
            </div>
            <div id="section-sys-group-user-map" class="card-body">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        tableName = "#data_table_sys_group";
        table = $(tableName).DataTable({
            paging: false,
            responsive: true,
            select: {
                style: 'single'
            },
            searching: true,
            columnDefs: [
                { targets: [0], visible: false }
            ]
        });

        //Select first row by default; load related data.
        table.row(':eq(0)', { page: 'current' }).select();
        var firstRowData = table.row(':eq(0)', { page: 'current' }).data();
        LoadGroup(firstRowData[0]);
        LoadPermissions(firstRowData[0]);
        LoadUsers(firstRowData[0]);

        $('#data_table_sys_group tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            LoadGroup(data[0]);
            LoadPermissions(data[0]);
            LoadUsers(data[0]);
        });
    });

    function LoadGroup(sysGroupId) {
        link = '@Url.Action("_RenderWidget","SysGroup")';
        var formData = new FormData();

        formData.append("sysGroupId", sysGroupId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-sys-group").html(response);
            }
        });
    }

    function LoadPermissions(sysGroupId) {
        link = '@Url.Action("_List","SysPermission")';
        var formData = new FormData();

        formData.append("sysGroupId", sysGroupId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-sys-permission").html(response);
            }
        });
    }

    function LoadUsers(sysGroupId) {
        link = '@Url.Action("_List","SysGroupUserMap")';
        var formData = new FormData();

        formData.append("sysGroupId", sysGroupId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-sys-group-user-map").html(response);
            }
        });
    }

</script>