<div class="modal fade" id="modal-method-lookup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Method Lookup</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Search", "Method", FormMethod.Post, new { id = "frm-method-lookup", @class = "ggtools-lookup-form" }))
                { 
                    <input type="hidden" id="hfIdField" />
                    <input type="hidden" id="hfNameField" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                <button id="btnLookupMethod" type="button" class="btn btn-success pull-right cwr-map-options" data-dismiss="modal">Generate CWR Maps</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
