@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
<div class="modal fade" id="modal-cooperator-lookup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    Cooperator Lookup
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_Lookup", "Cooperator", FormMethod.Post, new { id = "frmLookupCooperator" }))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>First Name</label>
                                <input id="txtCommonNameEditName" class="form-control" />
                                @Html.TextBoxFor(x => x.SearchEntity.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                @Html.TextBoxFor(x => x.SearchEntity.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                }
                <div class="row margin-top-05em">
                    <div class="col-md-12">
                        <button id="btnReset" type="button" class="btn btn-warning">Reset</button>
                        <button id="btnLookupCooperator" type="button" class="btn btn-default float-right">Search</button>
                    </div>
                </div>
                <div id="section-cooperator-lookup-search-results">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>















