@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@if (Model.Entity.ID > 0)
{
    if (Model.Entity.IsVerified == "Y")
    {
        <div class="callout callout-success">
            <strong>Verified</strong> by
            @Model.Entity.VerifiedByCooperatorName
            on
            @Model.Entity.NameVerifiedDate.ToShortDateString()
            <span style="margin-left:.3rem;">
                <button 
                    id="btnSetVerifiedUpdate" 
                    type="button" 
                    class="btn btn-outline-dark btn-sm" 
                    data-ggtools-action="verify" 
                    data-ggtools-value="Y">Re-Verify</button>
                <button 
                    id="btnSetVerifiedOff" 
                    type="button" 
                    class="btn btn-outline-danger btn-sm" 
                    data-ggtools-action="verify" 
                    data-ggtools-value="N" >Un-Verify</button>
            </span>
        </div>
    }
}
