@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel

<div class="timeline timeline-inverse">
    <div class="time-label">
        <span class="bg-warning">
            DEBUG
        </span>
    </div>

    <!-- COOP -->
    <div>
        <i class="fas fa-check bg-success"></i>
        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> @System.DateTime.Now</span>
            <h3 class="timeline-header border-0">
                <a href="#">Cooperator</a> created by System
            </h3>
        </div>
    </div>

    <div>
        <i class="fas fa-skull-crossbones bg-danger"></i>
        <div class="timeline-item">
            @*<span class="time"><i class="far fa-clock"></i> 5 mins ago</span>*@
            <h3 class="timeline-header border-0">
                <a href="#">Sys User</a> not created
            </h3>
        </div>
    </div>

    <div>
        <i class="fas fa-skull-crossbones bg-danger"></i>
        <div class="timeline-item">
            @*<span class="time"><i class="far fa-clock"></i> 5 mins ago</span>*@
            <h3 class="timeline-header border-0">
                <a href="#">Web Cooperator</a> not created
            </h3>
        </div>
    </div>

    <div>
        <i class="fas fa-skull-crossbones bg-danger"></i>
        <div class="timeline-item">
            @*<span class="time"><i class="far fa-clock"></i> 5 mins ago</span>*@
            <h3 class="timeline-header border-0">
                <a href="#">Web User</a> not created
            </h3>
        </div>
    </div>

    <div>
        <i class="fas fa-comments bg-warning"></i>
        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>
            <h3 class="timeline-header"><a href="#">Confirmation Email</a></h3>
            <div class="timeline-body">
                DEBUG
            </div>
            <div class="timeline-footer">
                <button class="btn btn-info btn-flat btn-sm" type="button" data-toggle="modal" data-target="#modal-email-preview">Preview Email</button>
            </div>
        </div>
    </div>






    @*<div>
            <i class="fas fa-comments bg-warning"></i>
            <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>
                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                <div class="timeline-body">
                    Take me to your leader!
                    Switzerland is small and neutral!
                    We are more like Germany, ambitious and misunderstood!
                </div>
                <div class="timeline-footer">
                    <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                </div>
            </div>
        </div>*@


    @*<div class="time-label">
            <span class="bg-success">
                3 Jan. 2014
            </span>
        </div>*@


    @*<div>
            <i class="fas fa-camera bg-purple"></i>
            <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                <div class="timeline-body">
                    <img src="https://placehold.it/150x100" alt="...">
                    <img src="https://placehold.it/150x100" alt="...">
                    <img src="https://placehold.it/150x100" alt="...">
                    <img src="https://placehold.it/150x100" alt="...">
                </div>
            </div>
        </div>*@

    <div>
        <i class="far fa-clock bg-gray"></i>
    </div>
</div>
