@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
<table id="data-table-cooperators" class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th width="5%"></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.DataCollection)
        {
            <tr>
                <td>
                    @result.ID
                </td>
                <td>
                    <a href="@Url.Action("Get", "Cooperator", new { entityId = result.ID })">
                        @Html.Raw(result.LastName), @Html.Raw(result.FirstName)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    InitWidgetDataTable("data-table-cooperators");
    function InitWidgetDataTable(tableName) {
        $(document).ready(function () {
            tableName = "#" + tableName;
            table = $(tableName).DataTable({
                paging: false,
                responsive: true,
                select: {
                    style: 'single'
                },
                searching: false,
                columnDefs: [
                    { targets: [0], visible: false }
                ]
            });
        });
    }
</script>

