@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#tab-cooperator" data-toggle="tab">Cooperator</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-sys-user" data-toggle="tab">Sys User</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-sys-group-user-map" data-toggle="tab">
                <i class="fa fa-exclamation-triangle" style="color:red;"></i>
                Sys Groups</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#tab-web-cooperator" data-toggle="tab">Web Cooperator</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-web-user" data-toggle="tab">Web User</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab-cooperator">
                @{Html.RenderAction("_Get", "Cooperator", new { @entityId = Model.Entity.ID }); }
            </div>
            <div class="tab-pane" id="tab-sys-user">
                @{Html.RenderAction("_Get", "SysUser", new { @entityId = Model.Entity.SysUserID, @cooperatorId = Model.Entity.ID }); }
            </div>
            <div class="tab-pane" id="tab-sys-group-user-map">
                @{Html.RenderAction("RenderWidget", "SysGroupUserMap", new { @sysUserId = Model.Entity.SysUserID }); }
            </div>
            <div class="tab-pane" id="tab-web-cooperator">
                @{Html.RenderAction("_Get", "WebCooperator", new { @entityId = Model.Entity.WebCooperatorID, cooperatorId = Model.Entity.ID }); }
            </div>
            <div class="tab-pane" id="tab-web-user">
                @{Html.RenderAction("_Get", "WebUser", new { @entityId = Model.Entity.WebUserID }); }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {
        /*SetReadOnly();*/
    }

    $(document).on("click", "[id*='btnSaveCooperator']", function () {
        SaveCooperator();
    });

    $(document).on("click", "[id*='btnSaveWebCooperator']", function () {
        SaveWebCooperator();
    });

    $(document).on("click", "[id*='btnCopyWebCooperator']", function () {
        CopyWebCooperator();
    });

    $(document).on("click", "[id*='btnSaveSysUser']", function () {
        SaveSysUser();
    });

    $(document).on("click", "[id*='btnSaveWebUser']", function () {
        SaveWebUser();
    });

    function SaveCooperator() {
        var link = $("#frmEditCooperator").attr("action");
        var formData = new FormData();

        formData.append("Entity.ID", $("#frmEditCooperator #Entity_ID").val());
        formData.append("Entity.StatusCode", $("#frmEditCooperator #Entity_StatusCode").val());
        formData.append("Entity.Salutation", $("#frmEditCooperator #Entity_Salutation").val());
        formData.append("Entity.FirstName", $("#frmEditCooperator #Entity_FirstName").val());
        formData.append("Entity.LastName", $("#frmEditCooperator #Entity_LastName").val());
        formData.append("Entity.JobTitle", $("#frmEditCooperator #Entity_JobTitle").val());
        formData.append("Entity.Organization", $("#frmEditCooperator #Entity_Organization").val());
        formData.append("Entity.OrganizationAbbrev", $("#frmEditCooperator #Entity_OrganizationAbbrev").val());
        formData.append("Entity.EmailAddress", $("#frmEditCooperator #Entity_EmailAddress").val());
        formData.append("Entity.PrimaryPhone", $("#frmEditCooperator #Entity_PrimaryPhone").val());
        formData.append("Entity.CategoryCode", $("#frmEditCooperator #Entity_CategoryCode").val());
        formData.append("Entity.SiteID", $("#frmEditCooperator #Entity_SiteID").val());
        formData.append("Entity.AddressLine1", $("#frmEditCooperator #Entity_AddressLine1").val());
        formData.append("Entity.AddressLine2", $("#frmEditCooperator #Entity_AddressLine2").val());
        formData.append("Entity.AddressLine3", $("#frmEditCooperator #Entity_AddressLine3").val());
        formData.append("Entity.City", $("#frmEditCooperator #Entity_City").val());
        formData.append("Entity.GeographyID", $("#frmEditCooperator #Entity_GeographyID").val());
        formData.append("Entity.PostalIndex", $("#frmEditCooperator #Entity_PostalIndex").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-cooperator").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
    }

    function SaveWebCooperator() {
        var link = $("#frmEditWebCooperator").attr("action");
        // DEBUG
        alert("SAVE WC");
        $("#section-card-web-cooperator").removeClass("card-danger");
        $("#section-card-web-cooperator").addClass("card-default");
    }

    function CopyWebCooperator() {
        var link = '@Url.Action("Copy","WebCooperator")';
        var formData = new FormData();

        formData.append("Entity.ID", $("#frmEditWebCooperator #Entity_ID").val());
        formData.append("CooperatorID", $("#frmEditWebCooperator #CooperatorID").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-web-cooperator").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
    }

    function SaveSysUser() {
        var link = $("#frmEditSysUser").attr("action");
        var formData = new FormData();

        formData.append("Entity.SysUserID", $("#frmEditSysUser #Entity_SysUserID").val());
        formData.append("Entity.SysUserName", $("#frmEditSysUser #Entity_SysUserName").val());
        formData.append("Entity.SysUserPassword", $("#frmEditSysUser #Entity_SysUserPassword").val());
        formData.append("Entity.SysUserPasswordConfirm", $("#frmEditSysUser #Entity_SysUserPasswordConfirm").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-sys-user").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
    }

    function SaveWebUser() {
        var link = $("#frmEditWebUser").attr("action");
        // DEBUG
        alert("SAVE WU " + link);
        $("#section-card-web-user").removeClass("card-danger");
        $("#section-card-web-user").addClass("card-default");
    }

    //$('#btnEditGroups').on('click', function () {
    //    $("#modal_sys_group_user_map_lookup").modal("show");
    //});

    //$('#btnSaveSysUser').on('click', function () {
    //    AjaxFormSubmit();
    //});

    //$('#btnSubmitResetPassword').on('click', function () {
    //    AjaxFormSubmit();
    //});

    @*function LoadRecordsOwnedList(cooperatorId) {
        var link = '@Url.Action("RenderRecordsOwnedList","Cooperator")';
        var formData = new FormData();
        var partialViewSectionName = "";

        formData.append("cooperatorId", cooperatorId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-records-owned").html(response);
            }
        });
    }*@

    function RenderSysUserWidget(sysUserId) {
        var link = '@Url.Action("RenderWidget","SysUser")';
        var formData = new FormData();
        formData.append("sysUserId", sysUserId);
        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-sys-user").html(response);
            }
        });
    }

    function RenderSysGroupWidget(sysUserId) {
        var link = '@Url.Action("RenderSysGroupWidget","SysUser")';
        var formData = new FormData();
        formData.append("sysUserId", sysUserId);
        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-sys-group").html(response);
            }
        });
    }

    function AjaxFormSubmit() {
        var link = $("#frmEditSysUser").attr("action");
        var formData = new FormData();
        formData.append("Entity.CooperatorID", $("#frmEditCooperator #Entity_ID").val());
        formData.append("Entity.SysUserID", $("#frmEditSysUser #Entity_SysUserID").val());
        formData.append("Entity.UserName", $("#frmEditSysUser #Entity_UserName").val());
        formData.append("Entity.Password", $("#frmEditSysUser #Entity_Password").val());
        formData.append("Entity.PasswordConfirm", $("#frmEditSysUser #Entity_PasswordConfirm").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                RenderSysUserWidget(data.sysUser.ID);
                RenderSysGroupWidget(data.sysUser.ID);
            },
            error: function (ex) {
                alert("Error");
            }
        });
    }

    function AjaxResetPasswordFormSubmit() {
        var link = $("#frmSysUserResetPassword").attr("action");
        //TODO
    }
</script>


