@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SiteViewModel
@{
    ViewBag.Title = "Site Search";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@Html.Partial("~/Views/Shared/_UnderConstruction.cshtml")

@using (Html.BeginForm("Search", "Site", FormMethod.Post, new { id = "frmMain" }))
{
    <div class="box box-default">
        <div class="box-body" style="border:none;">
            @Html.Partial("~/Views/Site/_Detail.cshtml")
            <div id="section-species-data">
                @Html.Partial("~/Views/Site/_List.cshtml")
            </div>
            <div class="box-footer no-padding">
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#loader').click(function () {
            var url = $(this).data('request-url');
            alert(url);
        });
    });
</script>