@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysDynamicQueryViewModel
@{
    ViewBag.Title = "Dynamic Query";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
@Html.HiddenFor(x => x.TableName)
@Html.HiddenFor(x => x.RowsAffected)


<div class="row">
    <div class="col-md-2">

        <div id="accordion">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                    <div class="card-body p-0">




                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check1">
                                            <label for="check1">FIELD NAME HERE</label>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check2">
                                            <label for="check2">FIELD</label>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check3">
                                            <label for="check3">FIELD</label>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check1">
                                            <label for="check1">FIELD</label>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check1">
                                            <label for="check1">FIELD</label>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card card-danger">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                            Collapsible Group Danger
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox">
                                </span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox">
                                </span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox">
                                </span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-success">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                            Collapsible Group Success
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox">
                                </span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox">
                                </span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox">
                                </span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        
    </div>
    <div class="col-md-10">
        @Html.Partial("~/Views/SysDynamicQuery/_Detail.cshtml")
        @Html.Partial("~/Views/SysDynamicQuery/_SearchResultsList.cshtml")
    </div>
</div>


@{Html.RenderAction("RenderEditModal", "SysDynamicQuery");}

@if (Model.RowsAffected > 0)
{
    Html.RenderAction("RenderEditModal", "AppUserItemFolder", new { @sysTableName = Model.TableName });
}


