@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.GeographyViewModelBase
<div class="modal fade" id="modal-geography-lookup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    Geography Lookup
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="section-continents" class="row">
                    @{Html.RenderAction("_ListContinents","Geography"); }
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Sub-Continents</h5>
                        @{Html.RenderAction("_ListSubContinents", "Geography"); }
                    </div>
                    <div class="col-md-3">
                        <h5>Countries</h5>
                        @{Html.RenderAction("_ListCountries", "Geography"); }
                    </div>
                    <div class="col-md-3"><h5>Admin. Units</h5></div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSaveGeography" type="button" class="btn btn-info" data-dismiss="modal">Add Selected Geography</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnLookupGeography").click(function () {
        SearchGeography();
    });

    function SearchGeography() {
        var link = '@Url.Action("Lookup","Geography")';
        var continentRegionID = $("#SearchEntity_ContinentRegionID").val();
        var subContinentRegionID = $("#SearchEntity_SubContinentRegionID").val();
        var countryCode = $("#SearchEntity_CountryCode").val();
        var isValid = $("#SearchEntity_IsValid").val();

        var formData = new FormData();
        
        formData.append("ContinentRegionID", continentRegionID);
        formData.append("SubContinentRegionID", subContinentRegionID);
        formData.append("CountryCode", countryCode);
        formData.append("IsValid", isValid);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-geography-lookup-search-results").html(response);
            },
            error: function () {
                alert("Error searching geography");
            }
        });
    }

    $("#btnSaveGeography").click(function () {
        $('#modal-geography-lookup').modal('hide');
        var selectedItemIdList = GetSelectedEntityIDs("data-table-geography-lookup");
        var selectedItemNameList = GetSelectedEntityText("data-table-geography-lookup");
        $("#Entity_GeographyID").val(selectedItemIdList);
        $("#Entity_GeographyDescription").val(selectedItemNameList);
    });
</script>