@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.GeographyViewModel
<input type="button" class="check" value="check all" />
<div id="section-select-continents" class="row">
    
    
    
    @foreach (var result in Model.DataCollectionContinents)
    { 
        <div class="col-md-2">
            <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="@result.Continent" value="@result.Continent" />
                    <label for="@result.Continent">
                        @result.Continent
                    </label>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    $('#section-select-continents :checkbox').change(function () {
        // this will contain a reference to the checkbox   
        if (this.checked) {
            
        } else {
            
        }
        GetSelectedContinents();
    });

    $(document).ready(function () {
        $('.check:button').toggle(function () {
            $('input:checkbox').attr('checked', 'checked');
            $(this).val('uncheck all');
        }, function () {
            $('input:checkbox').removeAttr('checked');
            $(this).val('check all');
        })
    })

</script>