@model USDA.ARS.GRIN.GGTools.ViewModelLayer.HomeViewModel
@{
    ViewBag.Title = "My GGTools";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
<div class="row">
    <div class="col-md-3">
        @{Html.RenderAction("RenderWidget", "SysUser", new { sysUserId = Model.SysUserID }); }
        @{Html.RenderAction("RenderWidget", "Cooperator", new { cooperatorId = Model.CooperatorID }); }
    </div>
    <div class="col-md-9">
        <div class="card card-primary card-tabs">
            <div id="section-cooperator-tabs" class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="pt-2 px-3"><h3 id="placeholder-cooperator-name" class="card-title">My Site</h3></li>
                    <li id="tab-cooperator" class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#tab-content-cooperator" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Cooperators</a>
                    </li>
                    <li id="tab-sys-user" class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#tab-content-sys-user" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Site Detail</a>
                    </li>
                </ul>
            </div>
            <div class="card-body web-order-request">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-content-cooperator" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                         @{Html.RenderAction("RenderSiteCuratorListWidget", "Cooperator", new { siteShortName = Model.SiteShortName }); }
                    </div>
                    <div class="tab-pane fade" id="tab-content-sys-user" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                        @{Html.RenderAction("_Edit", "Site", new { @entityId = Model.AuthenticatedUser.SiteID }); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-error" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Error adding cooperator</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*@{Html.RenderAction("_Add", "Cooperator", new { siteId = Model.SiteID }); }*@

<script type="text/javascript">

    $(document).on("click", "[id='btnSaveCooperator']", function () {
        $("#modal-cooperator-add").modal("hide");
        SaveCooperator();
    });

    function SaveCooperator() {
        var link = $("#frmEditCooperator").attr("action");

        //Add the Field values to FormData object.
        var formData = new FormData();
        formData.append("Entity.StatusCode", "ACTIVE");
        formData.append("Entity.ID", $("#frmEditCooperator #Entity_ID").val());
        formData.append("Entity.Salutation", $("#Entity_Salutation").val());
        formData.append("Entity.FirstName", $("#Entity_FirstName").val());
        formData.append("Entity.LastName", $("#Entity_LastName").val());
        formData.append("Entity.JobTitle", $("#Entity_JobTitle").val());
        formData.append("Entity.Organization", $("#Entity_Organization").val());
        formData.append("Entity.OrganizationAbbrev", $("#Entity_OrganizationAbbrev").val());
        formData.append("Entity.EmailAddress", $("#frmEditCooperator #Entity_EmailAddress").val());
        formData.append("Entity.PrimaryPhone", $("#Entity_PrimaryPhone").val());
        formData.append("Entity.CategoryCode", $("#Entity_CategoryCode").val());
        formData.append("Entity.SiteID", $("#Entity_SiteID").val());
        formData.append("Entity.AddressLine1", $("#Entity_AddressLine1").val());
        formData.append("Entity.AddressLine1", $("#Entity_AddressLine1").val());
        formData.append("Entity.AddressLine2", $("#Entity_AddressLine2").val());
        formData.append("Entity.AddressLine3", $("#Entity_AddressLine3").val());
        formData.append("Entity.City", $("#Entity_City").val());
        formData.append("Entity.GeographyID", $("#Entity_GeographyID").val());
        formData.append("Entity.PostalIndex", $("#Entity_PostalIndex").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data.cooperator.ID < 0) {
                    $("#modal-error").modal("show");
                }
            }
        });
    }

</script>