@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysUserViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdminLTE3Login.cshtml";
}
<div class="login-box" style="width:600px;">
    <div class="card card-outline ">
        <div class="card-header text-center" style="font-size: 2.0rem;">
            Curator Tool Account Request
        </div>
        <div class="card-body">
            <h5>Welcome to account request self-service!</h5>
            <p>Please note the following:</p>
            <ul>
                <li>
                    This process will create a new Curator Tool (CT) account, based on the information that you provide.
                </li>
                <li>
                    This account will become activated after an administrator has approved it.
                </li>
                <li>Simultaneously, a separate Public Website (PW) user account will also be created. This PW account will be linked to the new CT account and will allow access to the PW’s staff-only features under Reports and Web Tools.</li>
                <li>
                    The new account owner will receive a confirmation email containing their account credentials.
                </li>
            </ul>
            
            <div class="row">
                <div class="col-md-6">
                    <a href="@Url.Action("Index","Login")"
                       class="btn btn-danger btn-block btn-flat">
                        <i class="fas fa-backward"></i> Cancel
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Account", new { @seq=1 })" class="btn btn-default btn-flat btn-block">Continue <i class="fas fa-forward"></i></a>
                </div>
            </div>
        </div>
        <div class="card-footer">Version @AppInfo.GetVersion()</div>
    </div>
</div>





