@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CropForCWRViewModelBase

<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Search Criteria</a></li>
            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Saved Searches</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="activity">
                <div id="section-search-criteria">
                    
                    <div class="form-group">
                        <a class="btn btn-default btn-sm" href="@Url.Action("Add","CropForCWR")">
                            <i class="fa fa-plus"></i> New
                        </a>
                        <button id="btnOpenFolderModal" type="button" class="btn btn-default btn-sm"><i class="fa fa-folder"></i></button>
                    </div>

                    @using (Html.BeginForm("Search", "CropForCWR", FormMethod.Post, new { id = "frmMain" }))
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Created By</label>
                                    @Html.DropDownListFor(x => x.SearchEntity.CreatedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.TextBoxFor(x => x.SearchEntity.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Taxonomy/CropForCWR/_DetailExtended.cshtml")
                    }
                </div>
                <div>
                    <button id="btnReset" type="button" class="btn btn-danger">Reset</button>
                    <div class="btn-group float-right">
                        <button type="submit" class="btn btn-info">Search</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu" style="">
                            <a id="btnSaveSearch" class="dropdown-item" href="#">Save Search</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="timeline">
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderAction("_List", "AppUserDynamicQuery"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








