<div class="info-box">
    <span class="info-box-icon bg-info"><i class="far fa-group"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">All Users</span>
        <span class="info-box-number">All users of any GRIN-Global application</span>
    </div>

</div>
