<h1 class="m-0">
    <!-- ================================================================= -->
    <!-- BEGIN TITLE LOGIC -->
    <!-- ================================================================= -->
    @{string actionName = ViewContext.RouteData.Values["action"].ToString(); }
    @actionName

    @if (actionName.ToLower() == "add")
    {
        if (!String.IsNullOrEmpty(Model.Entity.SynonymCode))
        {
            <span>@Model.ToTitleCase(Model.Entity.SynonymDescription)</span>

            if ((Model.Entity.SynonymCode.ToLower() == "heterotypic") || (Model.Entity.SynonymCode.ToLower() == "homotypic") || (Model.Entity.SynonymCode.ToLower() == "invalid"))
            {
                <span>Synonym </span>
            }
            <span>of <a href="@Url.Action("Edit", "Species", new { @entityId = Model.Entity.ParentID })">@Html.Raw(Model.Entity.ParentName)</a></span>
        }
        <span>Species</span>
    }
    else
    {
        <span>Species [@Model.Entity.ID]: @Html.Raw(Model.Entity.AssembledName)</span>
    }
    <!-- ================================================================= -->
    <!-- END TITLE LOGIC -->
    <!-- ================================================================= -->
</h1>