@model USDA.ARS.GRIN.GGTools.GOBS.ViewModelLayer.GOBSViewModel
@{
    ViewBag.Title = "My GGTools";
    Layout = "~/Views/Shared/_LayoutAdminLTE3GOBS.cshtml";
}

<style>
    p {
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="row">
    @foreach (var sysTable in Model.DataCollectionSysTables)
    {
    <div class="col-lg-4 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@sysTable.SysTableName DEBUG</h3>
                <p>@sysTable.Description</p>
            </div>
            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <a href="@Url.Action("GetAll", "GOBS", new { @tableName = sysTable.SysTableName })" class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    }
</div>