@model USDA.ARS.GRIN.GGTools.ViewModelLayer.HomeViewModel
@{
    ViewBag.Title = "My GGTools";
    Layout = "~/Views/Shared/_LayoutAdminLTE3GOBS.cshtml";
}

<h3>GOBS Dashboard</h3>
<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Dataset</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="@Url.Action("Get","GOBS", new { @objectType = "dataset" })" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Field</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="@Url.Action("Get","GOBS", new { @objectType = "dataset_field" })" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Inventory</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="@Url.Action("Get","GOBS", new { @objectType = "dataset_inventory" })" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Attach</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="#" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Marker</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="#" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Marker Field</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="#" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Marker Value</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="#" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Report Trait</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="#" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Report Value</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-table"></i>
            </div>
            <a href="#" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>Type</h3>
                <p>1</p>
            </div>
            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <a href="#" class="small-box-footer">Type <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>