@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModelBase
<div id="section-controls" class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Search Criteria</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div id="section-search-criteria" class="card-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Created By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.CreatedByCooperatorID, Model.Cooperators, "All cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(x => x.SearchEntity.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Category</label>
                    @*@Html.DropDownListFor(x => x.SearchEntity.Category, Model.Categories, "All categories", new { @class = "form-control" })*@
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Type</label>
                    @*@Html.DropDownListFor(x => x.SearchEntity.FolderType, Model.Types, "All types", new { @class = "form-control" })*@
                </div>
            </div>
            <div class="col-md-1">
                <label>Favorite</label>
                @Html.DropDownListFor(x => x.SearchEntity.IsFavoriteOption, Model.YesNoOptions, "Either", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="btnReset" type="button" class="btn btn-danger">Reset</button>
        <button type="submit" class="btn btn-primary float-right">Search</button>
    </div>
</div>
