@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel
<div class="card card-default card-tabs">
    <div id="DEBUG-TABS" class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
            <li id="DEFAULT" class="pt-2 px-3"><h3 class="card-title">My Folders</h3></li>
            @{
                int i = 0;
                string tabSelectorCssClass = String.Empty;
            }
            @foreach (var result in Model.DataCollection)
            {
                if (i == 0)
                {
                    tabSelectorCssClass = "nav-link active";
                }
                else
                {
                    tabSelectorCssClass = "nav-link";
                }

                <li id="custom-tabs-two-home-tab-selector-@result.ID"
                    title="@result.FolderTypeDescription.Replace(" ","")"
                    class="nav-item">
                    <a class="@tabSelectorCssClass" data-toggle="pill" href="#custom-tabs-two-home-@result.ID" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">
                        @if (result.IsShared == "Y")
                        {
                            <i class="fa fa-users"></i>
                        }
                        
                        @if (result.IsFavorite == true)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }

                        @result.FolderName
                    </a>
                </li>
                i++;
            }
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-two-tabContent">

        </div>
    </div>
    <div id="progress_overlay" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>

