@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel

<li class="nav-item dropdown">
    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Folder</a>
    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
        <li><a href="" class="dropdown-item">Add to New Folder </a></li>
        <li class="dropdown-divider"></li>

        @foreach (var result in Model.DataCollection)
        {
            <li><a href="@Url.Action("Edit", "Folder", new { @entityId = result.FolderID })" class="dropdown-item">@result.FolderName </a></li>
        }
    </ul>
</li>

@*<li class="nav-item dropdown">
    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Folder</a>
    <ul aria-labelledby="dropdownSubMenuFolder" class="dropdown-menu border-0 shadow">
        
        @foreach (var result in Model.DataCollection)
        {
            <li><a href="@Url.Action("Edit", "Folder", new { @entityId = result.FolderID })" class="dropdown-item">@result.FolderName </a></li>
        }
    </ul>
</li>*@







