@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel
<div class="btn-group">
    <a id="btnOpenFolderModalInSingleMode" class="btn btn-default btn-sm" href="">Add to New Folder</a>
    @if (Model.DataCollection.Count() > 0)
    {
        <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" role="menu" style="">
            @foreach (var result in Model.DataCollection)
            {
                <a class="dropdown-item btn-sm" href="@Url.Action("Edit", "Folder", new { @entityId = result.FolderID })">@result.FolderName</a>
            }
        </div>
    }
</div>
