<div class="input-group">
    <input id="txtLookupSpecies" type="text" class="form-control" />
    <span class="input-group-btn">
        <button id="btnLookupSpecies" type="button" data-toggle="modal" data-ggtools-action="AcceptedID" data-ggtools-value="AcceptedName" data-target="#modal-species-lookup" class="btn btn-default btn-flat">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
