@model USDA.ARS.GRIN.GGTools.ViewModelLayer.OrderRequestViewModel

@if(Model.Entity.ID == 0)
{ 
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-info"></i>No Order Request Found</h5>
        An order request has not yet been created for this web order request.
    </div>
}
else
{
    @Html.Partial("~/Views/OrderRequest/_List.cshtml")
}