@using System.Data;
@using USDA.ARS.GRIN.GGTools.DataLayer;
@model USDA.ARS.GRIN.GGTools.ViewModelLayer.ImportViewModel
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@Html.HiddenFor(x => x.RowsAffected)
@using (Html.BeginForm("Post", "Import", FormMethod.Post, new { id = "frmEdit", enctype = "multipart/form-data" }))
{
    <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                <li class="pt-2 px-3"><h3 class="card-title">Import</h3></li>
                <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">APHIS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Passport Validation</a>
                </li>
            
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Source File (.xls)</label>
                                @Html.TextBoxFor(x => x.DocumentUpload, new { @class = "form-control", @type = "file", @value = Model.ImportFileName })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Import Options</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="Load Species Only" readonly="readonly" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color:white;">
                                            @Html.CheckBoxFor(x => x.LoadSpeciesOnly)
                                            &nbsp;
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-default">Begin Import</button>
        </div>
    </div>
}
@Html.Partial("~/Views/Import/_ListImport.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableDynamicQuery("data_table_import");
    });

    function InitDataTableDynamicQuery(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                dom: 'Blfrtip',
                paging: true,
                "pageLength": 10,
                scrollX: true,
                
                responsive: true,
                buttons: [
                    //'selectAll',
                    //'selectNone',
                    //'csv',
                    //'excel',
                    //'pdf',
                    {
                        text: 'Import Selected Rows',
                        action: function (e, dt, node, config) {
                            OpenFolderModal();
                        }
                    }
                ],
                select: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]
            });

            // Event listener to expand/collapse child row
            // Add event listener for opening and closing details
            $(tableName + ' tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            function format(d) {
                // `d` is the original data object for the row
                return '<div>The extra details for ' + d.name + '</div>'; // Sample format
            }

            //$('table.ggtools').on('click', 'tr', function () {
            //    var data = table.row(this).data();
            //    /*alert('You clicked on ' + data[0] + "'s row");*/
            //});
        });
    }

    $("#btnImportSelected").on('click', function (event) {
        GetSelectedRowData("tblImport");
    });

    function GetSelectedRowData(tableName) {
        var table = $('#' + tableName).DataTable();
        var data = table.rows(['.selected']).data().toArray();
        var json = JSON.stringify(data);
        //DEBUG
        alert(json);
    }


</script>