@using System.Data;
@using USDA.ARS.GRIN.GGTools.DataLayer;
@model USDA.ARS.GRIN.GGTools.ViewModelLayer.ImportViewModel
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@{
    SysTableField sysTableFieldHeading = new SysTableField();
    SysTableField sysTableField = new SysTableField();
    int keyColumnCount = 0;
}

@Html.HiddenFor(x => x.RowsAffected)

@using (Html.BeginForm("Post", "Import", FormMethod.Post, new { id = "frmEdit", enctype = "multipart/form-data" }))
{
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                Import
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select the file to upload</label>
                        @Html.TextBoxFor(x => x.DocumentUpload, new { @class = "form-control", @type = "file", @value = Model.ImportFileName })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary float-right">Upload Selected File</button>
        </div>
    </div>
}
@Html.Partial("~/Views/Import/_List.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableDynamicQuery("tblImport");
    });

    function InitDataTableDynamicQuery(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                dom: 'Blfrtip',
                paging: true,
                "pageLength": 10,
                scrollX: true,
                responsive: true,
                buttons: [
                    'selectAll',
                    'selectNone',
                    'csv',
                    'excel',
                    'pdf',
                    {
                        text: 'Add to Folder',
                        action: function (e, dt, node, config) {
                            OpenFolderModal();
                        }
                    }
                ],
                select: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]
            });

            $('table.ggtools').on('click', 'tr', function () {
                var data = table.row(this).data();
                /*alert('You clicked on ' + data[0] + "'s row");*/
            });
        });
    }
</script>