@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel
<div class="modal fade text-sm" id="modal-folder-import" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    Folder Import
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header p-2">
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" id="txtFolderTitle" class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Category</label>
                                                @Html.DropDownListFor(x => x.Entity.Category, Model.Categories, "Select value", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Add Category</label>
                                            <input type="text" id="txtFolderNewCategory" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea id="txtFolderDescription" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="margin">
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input class="custom-control-input" type="checkbox" id="cbxIsFavorite" value="option1">
                                                <label for="cbxIsFavorite">
                                                    Add this folder to my Favorites list.
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btnAddFolder" class="btn btn-primary float-right">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--
*************************************************************************************************
Modal that appears if no record is selected for folder addition.
*************************************************************************************************
-->
<div class="modal fade" id="modal-validation-warning" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">No Record(s) Selected</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please first select at least one record to add to the folder.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light float-right" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableLookupFormat("data-table-folder-list");
    });

    $("#btnOpenFolderModal").click(function () {
        var tableName = $("#TableName").val();
        var dataTableName = "data_table_" + tableName;
        var selectedItemIdList = GetSelectedEntityIDs(dataTableName);

        // Do not display the folder modal unless the user has selected at least
        // one record to add.
        if (selectedItemIdList.length < 1) {
            $("#modal-validation-warning").modal("show");
        }
        else {
            $("#modal-folder-edit").modal("show");
        }
    });

    function OpenFolderModal() {
        var tableName = $("#TableName").val();
        var dataTableName = "data-table-app-user-item-list-items";
        var selectedItemIdList = GetSelectedEntityIDs(dataTableName);

        // Do not display the folder modal unless the user has selected at least
        // one record to add.
        if (selectedItemIdList.length < 1) {
            $("#modal-validation-warning").modal("show");
        }
        else {
            $("#modal-folder-import").modal("show");
        }
    }

    $("#btnOpenFolderModalInSingleMode").click(function () {
        event.preventDefault();
        $("#EventAction").val("FOLDER");
        $("#EventValue").val("SINGLE");
        $("#modal-folder-edit").modal("show");
    });

    $("#btnAddFolder").click(function () {
        AddFolder(0);
    });

    $("#btnUpdateFolder").click(function () {
        UpdateFolder();
    });

    /*
     * Adds a batch of selected items to an existing folder
     */
    function UpdateFolder() {
        var link = '@Url.Action("Update", "Folder")';
        var entityId = $("#Entity_ID").val();
        var tableName = $("#TableName").val();
        var dataTableName = "data_table_" + tableName;
        var selectedItemIdList = GetSelectedEntityIDs(dataTableName);
        var folderId = GetSelectedEntityIDs("data-table-folder-list");
        var formData = new FormData();

        // If there are no values in the selected ID list, use single-record mode.
        if (selectedItemIdList.length < 1) {
            selectedItemIdList = entityId;
        }

        formData.append("IDList", selectedItemIdList);
        formData.append("FolderID", folderId);
        formData.append("TableName", tableName);

        // TEST Show confirmation alert once folder done.
        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-folder-confirmation").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
        $("#modal-folder-edit").modal("hide");
    }

    /*
     * Adds a batch of items to a newly-created folder
    */
    function AddFolder(folderId) {
        var link = '@Url.Action("Add", "Folder")';
        var entityId = $("#Entity_ID").val();
        var eventAction = $("#EventAction").val();
        var eventValue = $("#EventValue").val();
        var tableName = $("#TableName").val();
        var dataTableName = "data_table_" + tableName;
        var folderName = $("#txtFolderTitle").val();
        var folderCategory = $("#Entity_Category").val();
        var folderNewCategory = $("#txtFolderNewCategory").val();
        var folderDescription = $("#txtFolderDescription").val();
        var selectedItemIdList = GetSelectedEntityIDs(dataTableName);
        var formData = new FormData();

        if ((eventAction == "FOLDER" && eventValue == "SINGLE")) {
            formData.append("EntityID", entityId);
        }

        // If there are no values in the selected ID list, use single-record mode.
        if (selectedItemIdList.length < 1) {
            selectedItemIdList = entityId;
        }

        if (typeof selectedItemIdList != 'undefined') {
            formData.append("IDList", selectedItemIdList);
        }

        if ($('#cbxIsFavorite').prop('checked') == true) {
            formData.append("IsFavorite", "Y");
        }

        if ($('#cbxIsShared').prop('checked') == true) {
            formData.append("IsShared", true);
        }

        formData.append("FolderID", folderId);
        formData.append("TableName", tableName);
        formData.append("FolderName", folderName);
        formData.append("FolderType", tableName);
        formData.append("Category", folderCategory);
        formData.append("NewCategory", folderNewCategory);
        formData.append("Description", folderDescription);

        // TEST Show confirmation alert once folder done.
        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-folder-confirmation").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
        $("#modal-folder-edit").modal("hide");
    }

    function ConfirmFolderSave(folderTitle) {
        $("#new-folder-name").html(folderTitle);
        $("#alert-folder-confirmation").show();
    }

    function SaveFolderItems(folderId) {
        var link = '@Url.Action("AddItems", "Folder")';
        var tableName = $("#TableName").val();
        var selectedItemIdList = GetSelectedEntityIDs("data-table-order");
        var formData = new FormData();

        formData.append("FolderID", folderId);
        formData.append("TableName", tableName);

        if (typeof selectedItemIdList != 'undefined') {
            formData.append("IDList", selectedItemIdList);
        }

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
            },
            error: function () {
                alert("Error");
            }
        });
        $("#modal-folder-edit").modal("hide");
    }
</script>

