
@{
    ViewBag.Title = "ResetPasswordFinal";
    Layout = "~/Views/Shared/_LayoutAdminLTE3Login.cshtml";
}


<div class="login-box" style="width:450px;">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>GRIN-Global</b></a>
            <h4>Password Reset Successfully</h4>
        </div>
        <div class="card-body">
            <p>Your GRIN-Global Curator Tool password has been successfully reset. It will expire on:</p>
            <p><strong>@ViewData["PW_EXPIRATION_DATE"]</strong></p>
            <p>Please note that you are <strong>not</strong> required to change this password when you next log in.</p>
        </div>
    </div>
</div>

