<div id="modal-family-lookup" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Family Lookup</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Name</label>
                        <input type="text" id="txtLookupFamilyName" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                            <label for="customCheckbox1" class="custom-control-label">Search accepted names only.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnLookupFamily" class="btn btn-default float-right">Search</button>
                    </div>
                </div>
                <div id="section-family-lookup-search-results">

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnSaveFamily" type="button" class="btn btn-info" data-dismiss="modal">Add Selected Family</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#btnLookupFamily").click(function () {
        var familyName = $("#txtLookupFamilyName").val();
        var isAcceptedName = "";

        if ($("#cbxLookupFamilyAcceptedNames").prop("checked") == true) {
            isAcceptedName = "Y";
        }

        var actionUrl = '@Url.Action("Lookup","Family")';
        SearchFamily(actionUrl, familyName, isAcceptedName, "Y");
    });

    $("#btnSaveFamily").click(function () {
        var idList = GetSelectedEntityIDs("data-table-family-lookup");
        var nameList = GetSelectedEntityLabels("data-table-family-lookup");

        $("#Entity_FamilyID").val(idList);
        $("#Entity_FamilyName").val(nameList);
        $('#modal-family-lookup').modal('hide');
    });

    function SearchFamily(actionUrl, familyName, isAcceptedName, isSingleSelect) {
        var formData = new FormData();
        formData.append("LookupFamilyName", familyName);
        formData.append("IsAcceptedName", isAcceptedName);
        formData.append("IsSingleSelect", isSingleSelect);

        $.ajax({
            url: actionUrl,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-family-lookup-search-results").html(response);
            }
        });
    }

    function SelectFamily(ID, familyName) {
        $('#modal-family-lookup').modal('hide');

        if ($('#hfCurrentValue').val() == "AcceptedName") {
            $('#Entity_AcceptedID').val(ID);
            $('#Entity_AcceptedName').val(familyName);
        }
        else {
            $('#Entity_FamilyID').val(ID);
            $('#Entity_FamilyName').val(familyName);
        }
        //$("#frmEdit").submit();
    }

    $("#btnOpenFamilyLookupModal").click(function () {
        $("#lblFamilyLookupTitle").html("Family Search");
        $('#hfCurrentAction').val($(this).data("ggtools-action"));
        $('#hfCurrentValue').val($(this).data("ggtools-value"));
        $('#modal-family-lookup').modal('show');
    });

</script>
