@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column mt-2" data-widget="treeview" role="menu" data-accordion="false">
        <!-- TODO: Refactor this element into a partial shared across sidebars-->
        <li class="nav-item">
            <a href="@Url.Action("Index","Home")" class="nav-link">
                <i class="fas fa-home nav-icon"></i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-header">FILTERS</li>
        
        <!-- TIME FRAME -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-calendar"></i>
                <p>
                    Request Submitted
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @*<li class="nav-item">
                    <a id="ANY" data-ggtools-action="filter-by-time-frame" data-ggtools-value="" href="" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>Any Time Period</p>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a id="1D" data-ggtools-action="filter-by-time-frame"  data-ggtools-value="1D" href="" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>Today</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="3D" data-ggtools-action="filter-by-time-frame"  data-ggtools-value="3D" href="" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last Three Days</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="7D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="7D" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>This Week</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="30D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="30D" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>This Month</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="60D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="60D" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last 2 Months</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="90D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="90D" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last 3 Months</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="1Y" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="1Y" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Current Year</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- STATUS -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Current Status
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="ANY" data-ggtools-action="filter-by-status" data-ggtools-value="" href="" class="nav-link filter">
                        <i class="fas fa-circle nav-icon"></i>
                        <p>Any Status</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="ACCEPTED" data-ggtools-action="filter-by-status" data-ggtools-value="ACCEPTED" href="" class="nav-link filter">
                        <i class="fas fa-circle text-green nav-icon"></i>
                        <p>Accepted</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="CANCELED" data-ggtools-action="filter-by-status" data-ggtools-value="CANCELED" href="" class="nav-link filter">
                        <i class="fas fa-circle text-green nav-icon"></i>
                        <p>Canceled</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="SUBMITTED" data-ggtools-action="filter-by-status" data-ggtools-value="SUBMITTED" href="" class="nav-link filter">
                        <i class="fas fa-circle text-green nav-icon"></i>
                        <p>Submitted</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="MIXED" data-ggtools-action="filter-by-status" data-ggtools-value="MIXED" href="" class="nav-link filter">
                        <i class="fas fa-circle text-purple nav-icon"></i>
                        <p>Mixed</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_FLAG" data-ggtools-action="filter-by-status" data-ggtools-value="NRR_FLAG" href="" class="nav-link filter">
                        <i class="fas fa-circle text-red nav-icon"></i>
                        <p>NRR Flag</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- MOST RECENT ACTION-->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Most Recent Action
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="" data-ggtools-action="filter-by-most-recent-action" data-ggtools-value="" href="" class="nav-link filter">
                        <i class="fas fa-thumbs-down text-red nav-icon"></i>
                        <p>Any</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_REJECT" data-ggtools-action="filter-by-most-recent-action" data-ggtools-value="NRR_REJECT" href="" class="nav-link filter">
                        <i class="fas fa-thumbs-down text-red nav-icon"></i>
                        <p>Rejected</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_APPROVE" data-ggtools-action="filter-by-most-recent-action" data-ggtools-value="NRR_APPROVE" href="" class="nav-link filter">
                        <i class="fas fa-thumbs-up text-green nav-icon"></i>
                        <p>Approved</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_INFO" data-ggtools-action="filter-by-most-recent-action" data-ggtools-value="NRR_INFO" href="" class="nav-link filter">
                        <i class="fas fa-info nav-icon"></i>
                        <p>Info. Request</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- ASSIGNED -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    Assigned To
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="-9" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link filter">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Anyone</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="33816" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link filter">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Kinard, Gary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="10" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link filter">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Reisinger, Marty</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-header">MANAGE DATA</li>
        <li class="nav-item">
            <a href="@Url.Action("Search","WebOrder")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Web Orders</p>
            </a>
        </li>
        <li class="nav-header">SYSADMIN</li>
        <li class="nav-item">
            <a href="@Url.Action("Index","CodeValue")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Code Values</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Error")" class="nav-link">
                <i class="nav-icon fas fa-bug"></i>
                <p>Error Logs</p>
            </a>
        </li>
    </ul>
</nav>
