@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column nav-flat sidebar-light-primary" data-widget="treeview" role="menu" data-accordion="false">
        <!-- TODO: Refactor this element into a partial shared across sidebars-->
        <li class="nav-item">
            <a href="@Url.Action("Index","Home")" class="nav-link">
                <i class="fas fa-home nav-icon"></i>
                <p>Home</p>
            </a>
        </li>

        <li class="nav-header">FILTERS</li>
        <!-- TIME FRAME -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-calendar"></i>
                <p>
                    Time Frame
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="1D" data-ggtools-action="filter-by-time-frame" href="" class="nav-link">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>Today</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="3D" data-ggtools-action="filter-by-time-frame" href="" class="nav-link">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last Three Days</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="7D" data-ggtools-action="filter-by-time-frame" href="" class="nav-link">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>This Month</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="60D" data-ggtools-action="filter-by-time-frame" href="" class="nav-link">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last 2 Months</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="90D" data-ggtools-action="filter-by-time-frame" href="" class="nav-link">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last 3 Months</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="1Y" data-ggtools-action="filter-by-time-frame" href="" class="nav-link">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Current Year</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- STATUS -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Current Status
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="NRR_FLAGGED" data-ggtools-action="filter-by-status" href="" class="nav-link">
                        <i class="fas fa-circle text-red nav-icon"></i>
                        <p>NRR Flagged</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="SUBMITTED" data-ggtools-action="filter-by-status" href="" class="nav-link">
                        <i class="fas fa-circle text-green nav-icon"></i>
                        <p>Submitted</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- ASSIGNED -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    Assigned To
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="123" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Bockelman, Harold</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="456" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Reisinger, Marty</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-header">MANAGE DATA</li>
        <li class="nav-item">
            <a href="@Url.Action("Search","WebOrder")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Web Orders</p>
            </a>
        </li>
        <li class="nav-header">SYSADMIN</li>
        <li class="nav-item">
            <a href="@Url.Action("Index","CodeValue")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Code Values</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Error")" class="nav-link">
                <i class="nav-icon fas fa-bug"></i>
                <p>Error Logs</p>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    $('.nav-link').on('click', function () {
        event.preventDefault();
        var id = $(this).attr('id');
        var eventAction = $(this).attr('data-ggtools-action');

        if (typeof id === "undefined") {

        }
        else {
            //DEBUG
            $("#" + eventAction).val(id);
            LoadWebOrderRequestList();
        }
    });
</script>