@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel


@foreach (var webOrderRequest in Model.DataCollection)
{

    var cssClass = "";
    switch (webOrderRequest.StatusCode)
    {
        case "NRR_FLAG":
            cssClass = "bg-danger";
            break;
        case "ACCEPTED":
            cssClass = "bg-success";
            break;
        default:
            cssClass = "bg-info";
            break;
    }


    <div class="info-box">
                <span class="info-box-icon @cssClass"><i class="far fa-address-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@webOrderRequest.WebCooperatorFullName</span>
                    <span class="info-box-number">
                        @webOrderRequest.WebCooperatorOrganization
                    <button class="btn btn-default btn-sm float-right">>></button>
                </span>
            </div>
        </div>
}

