
<div class="modal fade" id="modal-geography-map-edit" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-edit"></i>
                    Add Distribution
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Geography</label>
                            <div class="input-group">
                                <input type="text" id="txtGeographyMapEditGeographyID" class="form-control" />
                                @*@Html.TextBoxFor(x => x.Entity.GeographyDescription, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(x => x.Entity.GeographyID)*@
                                <span class="input-group-btn">
                                    <button type="button" data-toggle="modal" data-target="#modal-geography-lookup" class="btn btn-default btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-horizontal">
                            <label>Geography Status</label>
                            <select id="ddlGeographyMapEditGeographyStatus" class="form-control"></select>
                            @*@Html.DropDownListFor(x => x.Entity.GeographyStatusCode, Model.GeographyStatusCodes, "All Statuses", new { @class = "form-control" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-horizontal">
                            <label>Country</label>
                            @*@Html.DropDownListFor(x => x.Entity.CountryCode, Model.Countries, "All countries", new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button id="btnSaveDistribution" type="button" class="btn btn-info float-right">Save</button>
            </div>
        </div>
    </div>
</div>















