@model List<string>

@if (ViewBag.Message != null)
{
    <p style="color:green;">@ViewBag.Message</p>
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-file"></i>
            Upload File
        </h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Upload", "File", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="file" name="file" />
                <button type="submit" class="btn btn-primary float-right">Upload</button>
            }
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>File</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            using (Html.BeginForm("Delete", "File", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>
                        @file
                        <input type="hidden" name="fileName" value="@file" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


